
.App {
  text-align: center;
}

.App-header {
  background: url(./bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}



.menu ul {
  list-style: none;
  padding: 5px;
  margin-right: 0;
  display: flex;
}

.menu li{
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;
}

.menu li:hover{
  background-color: #5db37e;
}

.login li{
  margin-left: 50px;
  display: flex;
}

.login-button{
  display: flex;
  margin-bottom: 0px;
}