
.App {
  text-align: center;
}

.App-header {
  background: url(./bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.about-link{
  text-decoration: none;
  color: white;
}

.about-page{
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  width: fit-content;
  block-size: fit-content;
  align-items: center;
  flex-direction: column;
  margin-left: 150px;

}

.about-page-1{
  display: flex;
  margin-left: -80px;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  

}

.menu ul {
  list-style: none;
  padding: 5px;
  margin-right: 0;
  display: flex;
}

.menu li{
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;
}

.menu li:hover{
  background-color: #5db37e;
}

.login li{
  margin-left: 50px;
  display: flex;
}

.login-button{
  margin: 10px;
  display: flex;
  justify-content: center;
  background-color: #5db37e;
  list-style: none;
  padding: 5px;
  margin-right: 0;
  cursor: pointer;

}

.login-button-1{
  margin: 10px;
  display: flex;
  /* justify-content: center; */
  background-color: #5db37e;
  list-style: none;
  padding: 5px;
  margin-right: 0;
  cursor: pointer;

}

/* App.css */

.input-container {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.input-element {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 50%;  /* You can adjust the width as per your preference */
}

.input-element:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}

.menu1{
  list-style: none;
  padding: 5px;
  margin-right: 0;
  display: flex;
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;
  background-color: #5db37e;

}
